{% extends 'base.html.twig' %}

{% block body %}

    <div class="mx-auto" style="width: 100em; height: 20em;">
        <hr>
    </div>

    <div class="m-3">

        <h1><em>Paiement accepté !</em></h1>

        <p>
            Nous vous remercions pour votre achat et à trés bientôt.
        </p>
        <cite>Librairie Eyrolles</cite>
        <br><br>
        <a href="/" class="btn btn-secondary float-left">
            Revenir à la page d'accueil
        </a>

    </div>

    <div class="mx-auto" style="width: 100em; height: 15em;">

    </div>

{% endblock %}