{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="ml-lg-5">
        <div style="width: 80em; height: 20em;">
            <hr>
        </div>
        <div class="wrapper">
            <h1 class="m-4">REINITIALISATION DE VOTRE MOT DE PASSE</h1>
            <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
            <form method="post">
                <label class="form-group col-md-4" for="inputPassword">CHANGEZ VOTRE MOT DE PASSE</label> <br/>
                <input class="form-control col-md-4" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                <input type="hidden" name="token" value="{{ token }}">
                <br/>
                <div class="form-group col-md-4"><button class="btn btn-primary btn-block" type="submit" id="valider">Valider le mot de passe</button></div>
            </form>
        </div>
    </div>
{% endblock %}