.ui-menu{
    width: 10em;
}

.ui-widget{
    width: 10em;
}

.ui-widget-content{
    width: 10em;
}

.ui-autocomplete{
    width: 10em;
}

.ui-front{
    width: 10em;
}

body{
    color: mediumvioletred;
}