{% extends 'base.html.twig' %}

{% block title %}Livre d'or - Conférence Astronomie{% endblock %}

{% block body %}

    <h2>Les conférences</h2>

    {% for conference in conferences %}
        <h4>{{ conference.titre }} - {{ conference.ville }}</h4>
        <p>
            <a href="{{ path('conference', {slug: conference.slug}) }}">découvrir</a>
        </p>
    {% endfor %}


{% endblock %}
