 <!doctype html>
    <html lang="fr">

    <head>
        <meta http-equiv="Content-Type" content="text/html", charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Bienvenue à Astronomy Conference</title>

    </head>
    <body>
    <div class="body">
        <div class="container">
            <div class="header text-center">

                    <img src="#" class="logo" alt="Logo Astronmy Conference">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">Bienvenue ! <br/> {{user.prenom}} {{ user.nom }}</h1>
                <p class="block">
                    Bienvenue chez <strong>Astronomy Conference</strong>, <br/>
                    Profitez pleinement de nos livres d'or et consultez notre librairie en ligne.
                    De grands choix concernant l'astronomie et l'astrophysique vous y sont proposés.
                    <br/>
                    Votre identifiant est <strong>{{ user.email }}</strong> <br/>
                    Votre mot de passe est <strong>{{ mot }}</strong> , nous vous suggérons de le personnaliser dès que possible dans votre <em>espace personnel</em> après connexion.
                </p>

                <p class="block">
                    Nous sommes très heureux De votre visite.
                    Nous sommes à votre écoute et n'hésitez pas à nous contacter si vous avez des interrogations concernant une conférence ou un livre.
                </p>


            </div>
            <div class="footer">
                <p class="block">
                    Bien à vous,<br><br>
                    Eric Rochant de <em>Astronomy Conference</em>,
                </p>
                <p class="block bottom text-center">
                    Passionné des étoiles depuis 1995
                </p>
            </div>
        </div>
    </div>
    </body>


    </html>
