<h1>Oubli du mot de passe de votre compte</p>
    <p>Bonjour,<br><br>Une demande de réinitialisation de mot de passe a été effectuée pour le site www.astronomyconference.com <br>
        Veuillez cliquer sur le lien suivant :</p>
    <p><a href="{{ url }}">Modifier mon mot de passe</a></p>
